<div class="whole-main">

  <div class="left-main">
    <div class="food-image">
      <h2>写真 or 動画</h2>
    </div>

    <div class="left-center">
      <div class="author-pull">
        <h2>作者のプルダウン</h2>
      </div>
      <div class="reference-url">
        <h2>参考URL</h2>
      </div>
    </div>

    <div class="left-under">
      <div class="category-bar">
        <p>【カテゴリ】主菜</p>
        <p>【メイン食材】鶏肉</p>
        <p>【タグ】#ダイエット</p>
      </div>
    </div>
  </div>


  <div class="right-main">
    <p>右側</p>

</div>
