/* 下部広告部分 */
/* items/index.htmlの広告cssを所々使いまわしています。 */

.purchase-contents {
  width: 100%;
  padding: 2vw;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border-bottom:3px double #442b2b ;
}

.purchase-contents>.title {
  font-size: 2.5vw;
  font-weight: bold;
  margin: 0 8vw 0 2vw;
  padding: 0.2vh  0 0  ;
}

.purchase-contents>.purchase-end-btn {
  font-size: 1.2vw;
  font-weight: bold;
  background-color: aqua;
  color: #FFF;
  margin-left: 1vw;
  padding: 1em;
  border-radius: 8px;
  text-align:center;
}

.purchase-contents>.shopping-save-btn {
  font-size: 1.2vw;
  line-height: 1.5;
  font-weight: bold;
  background-color: rgb(222, 148, 12);
  color: #FFF;
  margin-left: 1vw;
  padding: 1em;
  border-radius: 8px;
  text-align:center;
}

.purchase-contents>.purchase-list-explanation {
  font-size: 1.2vw;
  line-height: 1.5;
  font-weight: bold;
  margin-left: 4vw;
  justify-content: center;
}

/* //下部広告部分 */

.footer {
  width: 100vw;
  padding: 5vh 0;
  color: #FFF;
  background-color: #272727;
  text-align: center;
}

.footer-contents {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.furima-details {
  margin: 0 4vw;
}

.footer-content-head {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-link {
  color: #FFF;
  font-size: 12px;
  line-height: 30px;
}

.logo-white {
  width: 15vh;
  vertical-align: bottom;
}

.footer>p {
  font-size: 14px;
}