* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100%;
  height: 30%;
  padding: 10px;
  /* display: flex; */
  /* flex-direction: column; */
  background-color: #efe9da;
}

.nav {
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
  border-bottom: 2px solid #7b7979;

  }

.ic-icon {
  width: 11vw;
  margin: 0 4vw 0 2vw;
}

.lists {
  display: flex;
  list-style: none;
  min-width: 200px;
  align-items: start;
  font-size: 1.5vw;
}

.item-list-btn {
  margin-right: 5px;
  text-decoration: none;
  color: #ffffff;
  background-color: #083a77;
  padding: 10px;
  border: 2px solid rgb(13, 4, 41);
  border-radius: 10px;
}

.shopping-list-btn {
  margin-right: 5px;
  text-decoration: none;
  color: #ffffff;
  background-color: #6a6a02;
  padding: 10px;
  border: 2px solid #272523;
  border-radius: 10px;
}

.menu-list-btn {
  margin-right: 15px;
  text-decoration: none;
  color: #ffffff;
  background-color: #7d0509;
  padding: 10px;
  border: 2px solid #50434f;
  border-radius: 10px;
}

.user-nickname {
  margin-right: 5px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  background-color: #3d3b3b;
  padding: 10px;
  border: 2px solid #0c0c0c;
  border-radius: 10px;
}

.logout {
  margin-right: 5px;
  text-decoration: none;
  color: #ffffff;
  background-color: #3d3b3b;
  padding: 10px;
  border: 2px solid #0c0c0c;
  border-radius: 10px;
}

.login {
  margin-right: 5px;
  text-decoration: none;
  color: #ffffff;
  background-color: #3d3b3b;
  padding: 10px;
  border: 2px solid #0c0c0c;
  border-radius: 10px;
}

.sign-up {
  margin-right: 5px;
  text-decoration: none;
  color: #ffffff;
  background-color: #3d3b3b;
  padding: 10px;
  border: 2px solid #0c0c0c;
  border-radius: 10px;
}

/* 検索バーのCSS */
 .search-bar {
  margin: 0 0 0 70%;
}


.search-form {
  width: 100%;
  height: 5vh;
  display: flex;
  margin: 1px 0 3px 0;
  margin: 10px 0 2px 0;
}

.search-form>.input-box {
  font-size: 1vw;
  width: 100%;
  height: 30px;
  padding-left: 10px;
  background-color: #edebe6;
}

.search-button {
  width: 3vw;
  height: 30px;
  border: 0;
  cursor: pointer;
  background-color: #489b4b;
  border-radius: 4px;
  padding: 8px;
}

.search-icon {
  width: 100%;
  height: 100%;
}