a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
  ;
}

/* 「効率よくお買い物」の帯部分 */
.title-contents {
  width: 100vw;
  background-image: image-url('top.png');
  background-color:rgba(255,255,255,0.2);
  background-blend-mode:lighten;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.service-title {
  font-size: 4vw;
}

.service-explain {
  font-size: 1.5vw;
  line-height: 30px;
}

.store-btn {
  display: flex;
  margin-top: 24px;
}
/* //画面上部の「効率よくお買い物」の帯部分 */


//////////* 在庫アイテム一覧の上部 */////////////
.item-contents {
  width: 100%;
  padding: 2vw;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border-bottom:3px double #442b2b ;
  border-top:3px double #442b2b ;
}

.item-contents>.title {
  font-size: 2.5vw;
  font-weight: bold;
  margin-left: 2vw;
  padding: 0.2vh  0 0  ;
}

.item-contents>.item-btn {
  font-size: 1.2vw;
  font-weight: bold;
  background-color: rgb(13, 110, 110);
  color: #FFF;
  margin-left: 1vw;
  padding: 1em;
  border-radius: 8px;
  text-align:center;
}

.item-contents>.shopping-save-btn {
  font-size: 1.2vw;
  line-height: 1.5;
  font-weight: bold;
  background-color: rgb(222, 148, 12);
  color: #FFF;
  margin: 0 4vw 0 1vw;
  padding: 1em;
  border-radius: 8px;
  text-align:center;
}

.item-contents>.item-list-explanation {
  font-size: 1.2vw;
  line-height: 1.5;
  font-weight: bold;
  margin-left: 1vw;
  justify-content: center;
}
//////////* 在庫アイテム一覧の上部 */////////////

////////// * カテゴリ別の在庫リスト部分 */////////

.category {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-list {
  width: 45%;
  height: 45vw;
  display: flex;
  margin: 1%;
  justify-content: center;
  align-items: center;
}

.category-contents {
  width: 100%;
  height: 90%;
  margin: 3% 3% 7%;
  background-color: #f3f1ed;
  border: 1px solid #442b2b;
  border-radius: 10px;
}

.category-title {
  background-color: blanchedalmond;
  color: black;
  font-size: 2.5vw;
  text-align: center;
  border: 5px double #919191;
  border-radius: 5px;
  margin: 3% ;
}

.stock-items {
  color: #545454;
  text-decoration:underline 1.5px #515151;
  height: 80%;
  text-align: left;
  padding: 3% 5%;
  font-size: 1.7vw;
  line-height:1.8;
  overflow-x:scroll;
}
////////// * カテゴリ別の在庫リスト部分 */////////

////////// * 買い物メモ一覧の部分 */////////
.purchase-contents {
  width: 100%;
  padding: 2vw;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border-bottom:3px double #442b2b ;
  border-top:3px double #442b2b ;
}

.purchase-contents>.title {
  font-size: 2.5vw;
  font-weight: bold;
  margin: 0 8vw 0 2vw;
  padding: 0.2vh  0 0  ;
}

.purchase-contents>.purchase-end-btn {
  font-size: 1.2vw;
  font-weight: bold;
  background-color: aqua;
  color: #FFF;
  margin-left: 1vw;
  padding: 1em;
  border-radius: 8px;
  text-align:center;
}

.purchase-contents>.shopping-save-btn {
  font-size: 1.2vw;
  line-height: 1.5;
  font-weight: bold;
  background-color: rgb(222, 148, 12);
  color: #FFF;
  margin-left: 1vw;
  padding: 1em;
  border-radius: 8px;
  text-align:center;
}

.purchase-contents>.purchase-list-explanation {
  font-size: 1.2vw;
  line-height: 1.5;
  font-weight: bold;
  margin-left: 4vw;
  justify-content: center;
}
////////// * 買い物メモ一覧の部分 */////////
