// newファイルのスタイリング
.whole-main {
  background-color: #f3f1ed;
  height: 100vh;
  width: 100vw;
  display: flex;
  // flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 15px 0;
}

.left-main {
  background-color: aqua;
  width: 48%;
}

.right-main {
  background-color: burlywood;
  width: 48%;
}