<div class="weight-bold-text">
    買い物リストへ保存
</div>
<%= form_with model: @item, url:items_path, local: true do |f| %>
  <%= f.check_box :shopping %>
  <%= f.submit "登録する" ,class:"btn" %>
<% end %>
<div class="item-footer-bar">
  <%= link_to root_path, class: "return-btn" do %>
      登録せずに前の画面に戻る
  <% end %>
</div>